<p id="notice"><%= notice %></p>

<h1>Listing Employees</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Position</th>
      <th>Projects</th>
      <th>Job start</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.full_name %></td>
        <td><%= employee.position.try(:name) %></td>
        <td><%= employee.projects.map(&:name).join(', ') %></td>
        <td><%= employee.job_start %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

	  
<h2>Изображение фоном, ч/з css</h2>
<div class='kitten'></div>
	  
<h2>Изображение картинкой</h2>
<%= image_tag 'test/287.jpg', class: 'img-responsive' %>

<br>

<%= link_to 'New Employee', new_employee_path, class: 'btn btn-success' %>
