<p id="notice"><%= notice %></p>

<h1>Listing Employees</h1>
<%= content_tag :a, "New Employee", href: "#modal", class: 'btn btn-success', data: {toggle: 'modal'} %>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Position</th>
      <th>Projects</th>
      <th>Job start</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="employees_list">
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.full_name %></td>
        <td><%= employee.position.try(:name) %></td>
        <td><%= employee.projects.map(&:name).join(', ') %></td>
        <td><%= employee.job_start %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

	  


<style>
	.form__error{ color: red; }
</style>

<%= link_to 'New Employee', new_employee_path, class: 'btn btn-success' %>
<% @employee = Employee.new %>
<%= modal_dialog id: "modal",
         header: { show_close: true, dismiss: 'modal', title: 'Modal header' },
         body:   { content: render('employees/form') },
         footer: {  } %>

